<!DOCTYPE html>
<html>
    <head>
        <title>Profile</title>
    </head>
    <body>
        {% if user %}
            <h1>Личный кабинет:</h1>
            <ul>
                <li> Имя: {{user.name}}</li>
                <li>Электронная почта: {{user.email}}</li>
                <li>Дата регистрации: {{user.createdAt}}</li>
            </ul>
            <br>

            <form action="/blog/index">
                <input type="submit" value="Перейти в блог">
            </form>

        {% else %}   
            <p>Пользователь не найден</p>
        {% endif %}
            
                
    </body>
</html>

